<section id="rnd" class="d-flex">
  <div id="rnd-menu-holder" class="d-flex align-items-center">
    <div id="rnd-menu" #rndMenu class="d-flex flex-column justify-content-center align-items-start">
      <a class="rnd-links" (click)="contentSlide(idx)" [class.active]="idx == 0" *ngFor="let rnd of ContentBg;let idx = index">{{ rnd.text }}</a>
    </div>
  </div>
  <div id="rnd-content-holder" #contentHolder class=" d-flex align-items-center justify-content-start" [@fadeStagger]="imgState">

    <div class="rnd-content h-100 align-items-center">
      <div class="rnd-content-bg w-100 h-100 fade-stagger" [style.background]="'url(/assets/img/Dec17_Cover_AutomatedLab_640x360.jpg)'"></div>
      <div class="d-flex align-items-center">
        <div class="rnd-content-img d-flex flex-column fade-stagger">
          <h2>PowderRange</h2>
          <div [style.background]="'url(/assets/img/Dec17_Cover_AutomatedLab_640x360.jpg)'"></div>
        </div>
        <div class="rnd-content-text fade-stagger">
          <div class="scroll-hider">
            <div class="scroll-container">
              <div class="scroll-child py-5">
                <p>PowderRange is a comprehensive range of premium quality off-theshelf powders and bespoke materials made to
                  your specification based on pure metals, alloys, machine type, application and research needs. We employ
                  a range of techniques including Inert Gas Atomisation, Vacuum Inert Gas Atomisation, Plasma Atomisation
                  and Plasma Spheroidisation to develop powders for LMD (Laser Metal Deposition), SLM (Selective Laser Melting)
                  and EBM (Electron Beam Melting).
                </p>
                <p>Different AM systems require different powder characteristics to produce high-quality parts, LPW powders
                  are designed and produced to perform reliably and consistently in your AM machine for your particular application.
                </p>
                <ul>
                  <li>All powder is supplied with a Certificate of Conformance that contains test data for chemistry and sizing.</li>
                  <li>All chemical data is performed at an independent ISO 17025 / Nadcap certified laboratory.</li>
                  <li>In addition to the standard Certificates of Conformance, we can offer enhanced Powder Evaluation Reports,
                    which include Hall Flow, Angle of Repose, Tap Density, Apparent Density, Morphology, Pycnometry, Shape
                    Analysis, Moisture, Rheometry, and Contamination Analysis.</li>
                  <li>All powders are packaged in tamper evident HDPE containers chosen for robustness and resistance to moisture
                    ingress.
                  </li>
                  <li>SLM and EBM powders are packed with non-contaminating silica gel sachets.</li>
                  <li>Titanium alloys are packed under a high purity Argon atmosphere; non-reactive alloys are packed under normal
                    air atmosphere. If requested, we can pack any material under Argon.</li>
                </ul>
                <p>We can supply small volumes, facilitate R&D projects, prototyping and specialist niche products and offer
                  long term supply agreements for larger volumes.</p>
                <h3>Custom Powders</h3>
                <p>For many alloys LPW is able to offer different products of the same composition, optimised for a particular
                  application.
                </p>
                <p>For example the use of different atomisation gases to vary mechanical properties, enhanced flowability of
                  powder for ‘flow-critical’ machine platforms, lower residual elements for more demanding applications,
                  controlled interstitials for enhanced mechanical properties. If the metal powder you’re looking for is
                  not on our list of available materials, or you have a new material in mind, we have an experienced application
                  team and the flexibility to:</p>
                <ul>
                  <li>Develop new powder chemistries to deliver specific properties</li>
                  <li>Explore novel alloys</li>
                  <li>Investigate compositions for new applications</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rnd-content h-100 align-items-center">
      <div class="rnd-content-bg w-100 h-100 fade-stagger" [style.background]="'url(/assets/img/Pentelute-Lab-MIT-Landing-PageDSC03555.jpg)'"></div>
      <div class="d-flex align-items-center">
        <div class="rnd-content-img d-flex flex-column fade-stagger">
          <h2>PowderLab</h2>
          <div [style.background]="'url(/assets/img/Pentelute-Lab-MIT-Landing-PageDSC03555.jpg)'"></div>
        </div>
        <div class="rnd-content-text fade-stagger">
          <div class="scroll-hider">
            <div class="scroll-container">
              <div class="scroll-child py-5">
                <p>Whether on a standard or custom material, pre-build or after several uses in an AM machine, LPW off ers an
                  extensive range of powder testing services. In addition to testing powders, LPW can off er further services
                  on AM components, including testing and analysis of solid samples, whether as a part of component validation
                  or a root-cause analysis of a failed build. </p>
                <p>Our AM experienced engineers will help in data interpretation, ensuring maximum benefit from your test results.</p>
                <h3>Chemical Analysis</h3>
                <ul>
                  <li>Full Chemical Analysis including residual elements and interstitials (various techniques as appropriate)
                    Undertaken by ISO17025/ Nadcap Approved Lab.</li>
                  <li>Oxygen, Nitrogen, and Hydrogen Analysis by Inert Gas Fusion.</li>
                  <li>Elemental Analysis/Contamination Screening (EDX).</li>
                  <li>Moisture Analysis by Loss on Drying (LOD) technique.</li>
                </ul>
                <ul>
                  <li>Apparent/Bulk Density (measurement according to ASTM B212).</li>
                  <li>Tap Density (ASTM B527).</li>
                  <li>Hall Flow (ASTM B213).</li>
                  <li>Angle of Repose (LPW internal procedure)</li>
                  <li>Sieve Analysis (ASTM B214).</li>
                  <li>Particle Size Distribution by Laser Size Diff raction (ASTM B 822-02)</li>
                  <li>Powder Imaging (SEM).</li>
                  <li>Powder Cross-Section/Porosity Imaging (SEM).</li>
                  <li>Metallographic sample preparation & examination (SEM)*.</li>
                  <li>Rheometry and Shear Cell Analysis.</li>
                  <li>True Density by Helium Gas Pycnometry (ASTM B923)*.</li>
                  <li>Quantitative Shape Analysis (Optical & SEM).</li>
                  <li>Investigation by CT Scanning.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rnd-content h-100 align-items-center">
      <div class="rnd-content-bg w-100 h-100 fade-stagger" [style.background]="'url(/assets/img/tubitos.jpg)'"></div>
      <div class="d-flex align-items-center">
        <div class="rnd-content-img d-flex flex-column fade-stagger">
          <h2>PowderHub</h2>
          <div [style.background]="'url(/assets/img/tubitos.jpg)'"></div>
        </div>
        <div class="rnd-content-text fade-stagger" div>
          <div class="scroll-hider">
            <div class="scroll-container">
              <div class="scroll-child py-5">
                <p>If you are looking for a partner to advise on the correct powders, processes and parameters for specifi c
                  machines and applications, provide early access to research fi ndings or investigate build issues, our
                  PowderHub team can work with you in strictest confi dence. </p>
                <p>With over 150 years of combined experience, made up of engineers, R&D experts and a knowledge driven commercial
                  and production team LPW have developed and delivered applications for companies ranging from aerospace
                  component repair through to high-volume, low cost consumer products. We focus on developing the process
                  parameters, material selection and development, powder handling and reuse - especially on an SLM or EBM
                  machine. With AM machines in-house, we are able to off er know-how and development opportunities to our
                  customers all in the strictest of confidence.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rnd-content h-100 align-items-center">
      <div class="rnd-content-bg w-100 h-100 fade-stagger" [style.background]="'url(/assets/img/f_7f6fec49c82b6f7583d11e5b0dd7740f.jpg)'"></div>
      <div class="d-flex align-items-center">
        <div class="rnd-content-img d-flex flex-column fade-stagger">
          <h2>Plasma Spheroidised Powders</h2>
          <div [style.background]="'url(/assets/img/f_7f6fec49c82b6f7583d11e5b0dd7740f.jpg)'"></div>
        </div>
        <div class="rnd-content-text fade-stagger">
          <div class="scroll-hider">
            <div class="scroll-container">
              <div class="scroll-child py-5">
                <p>At LPW we have a high level of expertise in Additive Manufacturing (AM) and a long experience of working
                  with leading companies within the aerospace, biomedical, and automotive industries. We utilise this knowledge
                  and the capabilities of plasma technology to produce highly spherical and low contamination powders:</p>
                <ul>
                  <li>High melting temperature refractory metals such as Ta, W, Nb, and Mo</li>
                  <li>Customer specific metallic and ceramic compositions </li>
                  <li>Improve flowability and reduce contamination levels of standard products produced by gas or water atomisation</li>
                  <li>Reconditioning of metallic powders that have been used several times within an AM machine. Powder purity,
                    morphology, and surface contamination change during use, especially Oxygen, Nitrogen, and Hydrogen</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
