:host {
    position: relative;
}
#main-bg {
    background-image: url(/assets/img/89037944.jpg);
    width: 100vw;
    opacity: .5;
    height: 170vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
}