<section id="au">
  <h1>About us</h1>
  <!-- <h4>We produce non metal powders and products through Metallurgical processes and Metallurgical standards</h4>
  <h4>Pioneers in Non Metal powder industry for more than 25 years</h4> -->
  <!-- <h2>Quality standards</h2>
  <ul class="d-flex">
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Magnalium powders are quality checked in every process under Powder Metallurgical techniques.</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Particle size of every powdered products are maintained throughout every process in every mesh sizes</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Every products can be customized according to requirement.</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Every products can be customized according to requirement.</div>
    </li>
  </ul> -->
  <!-- <h2>Why us.</h2> -->
  <!-- <ul class="d-flex">
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Metal compositions are checked before and after alloying through OES (Optical Emission Spectroscopy)</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>Metal compositions are checked before and after alloying through OES (Optical Emission Spectroscopy)</div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>We guarantee for the best quality in the market with an affordable price along with a prompt delivery nationally or
        overseas.
      </div>
    </li>
    <li class="col-3 d-flex flex-column align-items-center">
      <i class="fa fa-bug"></i>
      <div>We use raw materials of best quality which is imported from international markets and produced through international
        standardized manufacturing methods.</div>
    </li>
  </ul> -->

  <section class="d-flex justify-content-around">

    <div class="au-col">
      <div id="au-search" class="jd-card m-3 p-3">
        <input type="text" placeholder="Search here" />
      </div>

      <div class="jd-card m-3 py-3">
        <h5 class="mx-3 jd-title">Brief Intro</h5>
        <h6 class="mx-3 jd-sub-heading">sales@jagadagroup.com</h6>
        <img class="mb-2" src="/assets/stock/TPI-CNC-Machining.jpg" />
        <p class="m-3 jd-content-indent">We produce non metal powders and products through Metallurgical processes and Metallurgical standards. The Leaders
          in Indian Fireworks and Pyrotechnics are our valid customers. Pioneers in Non Metal powder industry for more than
          25 years.</p>
      </div>

      <div class="jd-card m-3 py-3">
        <h5 class="mx-3 jd-heading">Technical Data</h5>
        <h6 class="mx-3 jd-sub-heading">techteam@jagadagroup.com</h6>
        <img class="mb-2" src="/assets/stock/data-visualization-tools-concept.png" />
        <p class="mx-3 jd-content">Please contact our technical team regarding the details of the product you are planning to buy.</p>
        <a href="#" class="mx-3">Download the brochure here</a>
      </div>

      <div class="jd-card m-3 py-3">
        <h5 class="mx-3">Applications</h5>
        <h6 class="mx-3 jd-sub-heading">info@jagadagroup.com</h6>
        <img class="mb-2" src="/assets/stock/chemistexpla.jpg" />
        <p class="mx-3 jd-content-indent">We provide a very superior grade of Magnalium powder which has got a variety of applications like</p>
        <ul class="mx-3">
          <li>Fireworks &amp; Pyrotechnics applications</li>
          <li>Defence applications</li>
          <li>Welding Electrode applications</li>
          <li>Refractory Bricks Applications</li>
        </ul>
      </div>
    </div>

    <div class="au-col">

      <div class="jd-card m-3 py-3">
        <p class="mx-3 jd-content">Magnalium powders are quality checked in every process under Powder Metallurgical techniques.</p>
        <img class="mb-2" src="/assets/stock/Calipers on blueprint.jpg" />
        <p class="mx-3 jd-content-indent">Particle sizes of every powdered product are maintained throughout every process in every mesh sizes. Every product
          can be customized according to requirement.</p>
      </div>

      <div class="jd-card m-3 py-3">
        <h5 class="mx-3">Quality Standards</h5>
        <h6 class="mx-3 jd-sub-heading">qatechnical@jagadagroup.com</h6>
        <img class="mb-2" src="/assets/stock/blog_-ISO-9001-2008.jpg" />
        <p class="mx-3 jd-content-indent">Metal compositions are checked before and after alloying through OES (Optical Emission Spectroscopy)</p>
      </div>

      <div class="jd-card m-3 py-3">
        <h5 class="mx-3">Exceeding Customer Satisfaction</h5>
        <img class="mb-2" src="/assets/stock/Promo Image Customer Sat by Thinkstock_0.jpg" />
        <p class="mx-3 jd-content-indent">We use raw materials of best quality which is imported from international markets and produced through international
          standardized manufacturing methods.</p>
      </div>
    </div>

    <div class="au-col">

      <div class="jd-card m-3 py-3">
        <h5 class="mx-3 jd-title">Connect to us</h5>
        <h6 class="mx-3 jd-sub-heading">sales@jagadagroup.com</h6>
        <img class="mb-2" src="/assets/stock/121198298.jpg" />
        <p class="mx-3 jd-content-indent">We guarantee for the best quality in the market with an affordable price along with a prompt delivery nationally
          or overseas.</p>
      </div>

      <div class="jd-card m-3 py-3">
        <h5 class="mx-3">History</h5>
        <img class="mb-2" src="/assets/stock/history.jpg" />
        <p class="mx-3 jd-content-indent">The Leaders in Indian Fireworks and Pyrotechnics are our valid customers. Pioneers in Non Metal powder industry for more than 25 years.</p>
      </div>

      <div class="jd-card m-3 py-3">
        <h5 class="mx-3">Touche</h5>
        <img class="mb-2" src="/assets/img/wp2019257.jpg" />
        <p class="mx-3 jd-content-indent">use raw materials of best quality which is imported from international markets and produced through international
          standardized manufacturing methods.</p>
      </div>
    </div>

  </section>
</section>
