@import '../styles.scss';
@import '../variables.scss';

#menu-button {
  width: 45px;
  height: 40px;
  position: absolute;
  z-index: $zIndex-menu;
  top: 30px;
  right: 30px;
  border-radius: 3px;
  transform: none;
  transition: all .5s ease-out;
  transition-delay: .3s;
  & > span {
    transition: all .3s ease-out;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: #FFF;
  }
  &>span:nth-child(2) {
    transform: translateX(5px);
  }
  &.active {
    // transform: translateX(-25vw);
    transform: rotateY(180deg);
    transition: all 0.5s ease-in;
    transition-delay: .3s;
    span {
      // transition-delay: .5s;
      transition: all 0.3s ease-in;
    }
    span:first-child {
      transform: translateX(-8px) translateY(14px) rotateZ(45deg);
      width: 17px;
    }
    span:nth-child(2) {
      transform: none;
    }
    span:last-child {
      transform: translateX(-8px) translateY(-14px) rotateZ(-45deg);
      width: 17px;
    }
  } 
}

menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin:  0;
  width: 0vw;
  transition: all .3s ease-out;
  &.active {
    width: 36vw;
    transition: all .3s ease-in;
  }
}

#cursor {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  box-shadow: -15px -15px 1px rgba(255,255,255,0.3)
}

#modal {
  z-index: $zIndex-modal;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  transform: translateX(-100vw);
}