
<div class="browser">
    <div class="browser-header">
      <div class="browser-btns">
        <div class="browser-btn close"></div>
        <div class="browser-btn retract"></div>
        <div class="browser-btn expand"></div>
      </div>
      <ul class="tabs">
        <li class="tab active"><i class="fa fa-codepen"></i> Active Tab<span class="close">x</span></li>
        <li class="tab"><i class="fa fa-apple"></i> Inactive Tab<span class="close">x</span></li>
      </ul>
    </div>
    <div class="browser-bar">
      <div class="button"><i class="fa fa-arrow-left"></i></div>
      <div class="button inactive"><i class="fa fa-arrow-right"></i></div>
      <div class="button"><i class="fa fa-rotate-right"></i></div>
      <input class="address" value="http://css.browser.com"/>
      <div class="button"><i class="fa fa-bars"></i></div>
    </div>
    <div class="page">
      <h1><span>Browser</span> in CSS</h1>
      <h2>Just because it's fun</h2>
      <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>