<section id="contact-us">
  <h2>Adding the personal touch</h2>
  <div id="contact-address" class="row">

    <div class="contact-card col-6 d-flex justify-content-center p-4">
      <div class="contact-inside px-4 py-2">
        <h6>UK (Head office)</h6>
        <h5>LPW Technology Ltd</h5>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-map-marker mr-3"></i>
          <span>
            <p>16 Berkeley Court</p>
            <p>Manor Park, Runcorn, Cheshire</p>
            <p>WA7 1TQ United Kingdom</p>
          </span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-phone mr-3"></i>
          <span>+44 (0)1928 240 530</span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-envelope mr-3"></i>
          <span>sales@lpwtechnology.com</span>
        </div>
      </div>
    </div>

    <div class="contact-card col-6 d-flex justify-content-center p-4">
      <div class="contact-inside px-4 py-2">
        <h6>Americas</h6>
        <h5>LPW Technology Inc</h5>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-map-marker mr-3"></i>
          <span>
            <p>Parkway West Business Park</p>
            <p>511 Parkway View Drive</p>
            <p>Pittsburgh PA 15205 USA</p>
            <span>USA Toll Free</span>
            <span>844-480-7663</span>
          </span>
        </div>
        <div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-phone mr-3"></i>
          <span>+1-412-788-2856</span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-envelope mr-3"></i>
          <span>sales.america@lpwtechnology.com</span>
        </div>
      </div>
    </div>

    <div class="contact-card col-6 d-flex justify-content-center p-4">
      <div class="contact-inside px-4 py-2">
        <h6>Europe</h6>
        <h5>LPW South Europe Srl </h5>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-map-marker mr-3"></i>
          <span>
            <p>Via Nibbia 1</p>
            <p>28060 San Pietro Mosezzo (NO)</p>
            <p>Italy</p>
          </span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-phone mr-3"></i>
          <span>+39 0321 437563</span>
        </div>
        <div>
          <i class="fa fa-envelope mr-3"></i>
          <span>sales.italy@lpwtechnology.com</span>
        </div>
        <hr>
      </div>
    </div>

    <div class="contact-card col-6 d-flex justify-content-center p-4">
      <div class="contact-inside px-4 py-2">
        <h5>LPW Deutschland</h5>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-phone mr-3"></i>
          <span>+49 (0)1525 5409677 </span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-envelope mr-3"></i>
          <span>sales.europe@lpwtechnology.com</span>
        </div>
        <br />
        <div class="d-flex align-items-center mb-2">
          <i class="fa fa-internet-explorer mr-3"></i>
          <div>
            <p>Via Nibbia 1</p>
            <span>www.lpwtechnology.com</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="contact-map" (click)="map = !map" [class.active]="map">
    <div class="w-100 h-100"></div>
  </div>
</section>
