$roboto18: 18px/150% Roboto, sans-serif;

$zIndex-menu: 1000;
$zIndex-modal: 5000;

// set 1
$primary: #11110F;
$secondary: #CFDBD5;
$catch: #037CA9;
$text: #E8EDDF;
$btn: #F5CB5C;
$alt: #FCE694;

$catch110: #3093B8;
$catch105: #1987B0;
$catch95: #03719A;
$catch90: #03668B;
$catch85: #035B7B;

// set 2
// $primary: #11110F;
// $secondary: #FFDDA1;
// $text: #FFD151;
// $btn: #F8C537;
// $alt: #FCE694;

// set 3
// $primary: #11110F;
// $secondary: #EEE82C;
// $text: #91CB3E;
// $btn: #53A548;
// $alt: #4C934C;

// set 4
// $primary: #11110F;
// $secondary: #C1DBE3;
// $text: #C7DFC5;
// $btn: #F6FEAA;
// $alt: #FCE694;